body
{
  background:black;
  color:white;
  text-align:center;
}

a
{
  color:white;
  text-decoration:none;
}

#settingsDiv
{
  background:rgba(255,255,255,0.3);
  margin-bottom:10px;
  padding:10px;
}

#settingsDiv div
{
  margin:10px;
}

.opened
{
  box-shadow:rgba(255,255,255,0.8) 0 0 5px;
  margin:5px;
  padding:5px;
  background:rgba(64,64,64,0.8);
}

.selected
{
  color:rgba(0,255,128,0.9);
  text-shadow:rgba(0,128,255) 0 0 2px;
}

a:hover
{
  color:rgba(200,200,255,0.9);
}
